.progress-bar {
    height: 3px;
    background: #e2e2e2;
}

.progress-bar-thumb {
    width: 16px;
    height: 16px;
    border-radius: 16px;

    background: var(--primary-color);
}

.progress-bar-value {
    height: 100%;
    background: var(--primary-color);

    transform-origin: left;
}

.label-container {
    margin-top: var(--spacing-medium);
    display: flex;
    justify-content: space-between;
}
