:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-item img {
    display: block;
    width: 100%;
}
