:host {
    /* Make the app container takes 100% of the viewport */
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.view {
    /* Make sure the view stretch with the remaining height once the action bar is placed */
    flex: 1;
    overflow-y: scroll;

    /* 
        Add scrolling momentum for the view content to feel more like a native app.
        https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling
     */
    -webkit-overflow-scrolling: touch;
}