:host {
    /* Make the app container takes 100% of the viewport */
    height: 100%;
    width: 100%;
}

.menu-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-height: 64px;

    box-sizing: border-box;

    padding: 14px;
}

.menu-title {
    font-size: 1.25rem;
    font-weight: 800;
}

.menu-version {
    font-size: 0.875rem;
    font-weight: 300;
    opacity: 0.6;
}

.menu-item {
    display: flex;
    align-items: center;

    color: black;
    text-decoration: none;

    padding: 14px;
}

.menu-item:active {
    background-color: #e6eff7;
}

.menu-item base-icon {
    width: var(--spacing-medium);
    margin-right: 9px;

    fill: #657786;
}

.app {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.container {
    flex: 1;
    overflow: scroll;
}