:host {
    height: 100%;
    display: flex;
}

/* Header */

.header {
    padding: 0 var(--spacing-medium);
    margin-top: var(--spacing-medium);
    
    display: flex;
    align-items: center;
}

.header .cover {
    width: 90px;
    margin-right: var(--spacing-medium);
}

.header .details {
    flex: 1;
}

.detail-name {
    font-size: 1.3rem;
    font-weight: 600;
}

.detail-genre {
    opacity: .4;
}

.subscription {
    margin-top: 10px;
    padding: 0 8px;

    font-size: .9rem;
    height: 36px;
    
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    
    background: transparent;
    float: right;
}

/* Description */

.description {
    margin-top: var(--spacing-medium);
    padding: 0 var(--spacing-medium);

    font-size: 0.875rem;

    /* Multi-line text overflow: http://dropshado.ws/post/1015351370/webkit-line-clamp */
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.description.expanded {
    -webkit-line-clamp: unset;
}

/* Episode list */

.episode-list {
    margin-top: var(--spacing-medium);
}