a {
    text-decoration: none;
}

slot {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #c4c4c4;
    fill: #c4c4c4;
}

:host(.tab-selected) slot {
    color: #1ca0ea;
    fill: #1ca0ea;
}
