:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.categories {
    padding: 15px 15px 0;
}

.header {
    font-size: 1.3rem;
    font-weight: 600;
}

.category {
    display: flex;
    align-items: center;
}

.category base-icon {
    width: 20px;
    height: 20px;
    margin: 15px 15px 15px 0;

    fill: #C4C4C4;
}