.container {
    position: absolute;

    box-sizing: content-box;
    width: var(--menu-width);
    height: 100%;

    background: white;

    overflow-y: scroll;

    z-index: 120;

    transform: translateX(calc(-1 * var(--menu-width)));
    
    transition-property: transform, box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

:host(.visible) .container {
    transform: translateX(0);
    box-shadow: 
        rgba(0, 0, 0, 0.19) 0px 10px 20px, 
        rgba(0, 0, 0, 0.22) 0px 6px 6px;
}

.backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, .3);

    z-index: 110;

    opacity: 0;
    visibility: hidden;

    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

:host(.visible) .backdrop {
    visibility: visible;
    opacity: 1;
}
