:host {
    background: #010101;
    
    border-top: 1px solid #494949;
    height: 50px;
    
    font-size: 0.7rem;
    font-weight: 300;
}

.action-container {
    display: flex;
    justify-content: space-evenly;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 10px;

    color: #C4C4C4;
    fill: #C4C4C4;
}

.action.active {
    color: #1CA0EA;
    fill: #1CA0EA;
}

svg {
    width: 25px;
    height: 25px;
    padding: 5px;
}