:host {
    display: flex;
    flex-direction: column;

    height: var(--player-condensed-height);

    margin-top: calc(-1 * var(--player-condensed-height));
    transform: translateY(var(--player-condensed-height));

    transition-property: margin-top, transform;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

:host(.visible) {
    margin-top: 0;
    transform: translateY(0);

    box-shadow: 
        rgba(180, 180, 180, 0.2) 0px -3px 1px -2px, 
        rgba(180, 180, 180, 0.14) 0px -2px 2px 0px, 
        rgba(180, 180, 180, 0.12) 0px -1px 5px 0px;
}

/* Head */

.head {
    display: flex;
    flex-direction: row;
    align-items: center;

    flex: 1;

    padding: 0 var(--spacing-medium);
}

.info {
    padding: 0 var(--spacing-small);
    font-weight: lighter;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.info span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info .title {
    font-size: 0.875rem;
    font-weight: 500;
}

.info .author {
    font-size: 0.7rem;
    opacity: 0.7;
}

.control-button {
    /* Push control to the right. */
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--player-control-color);
}

.cover {
    min-width: 40px;
    width: 40px;
}

/* Progress bar */

.progress-bar {
    height: 3px;
    background: #e2e2e2;
}

.progress-bar-value {
    height: 100%;
    background: var(--player-control-color);
}