.container {
    overflow: hidden;
}

:host([rounded-corners]) .container {
    border-radius: 5px;
}

.container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.placeholder {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
}

img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.2s ease;
}

img.loaded {
    opacity: 1;
}
