/* 
 * TODO: 
 *  - Externalize button size is a CSS custom property 
 *  - Remove radius hard-coding
 */

:host {
    display: block;
    position: relative;
}

base-icon {
    width: 15px;
    height: 15px;
}

/* Cached and uncached */

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.uncached {
    background-color: var(--background-color-lighter);
}

.cached {
    background-color: #66bb6a;
}

.cached base-icon,
.uncached base-icon {
    fill: var(--background-color);
}

/* Downloading */

.downloading {
    position: absolute;
    top: 0;
    left: 0;
}

.downloading base-icon {
    fill: var(--primary-color);
}

.download-ring {
    width: 30px;
    height: 30px;
}

.download-ring__circle {
    fill: transparent;
    stroke: var(--primary-color);
    transition: 0.3s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
