/* 
 * TODO: 
 *  - Externalize button size is a CSS custom property 
 *  - Remove radius hard-coding
 */

:host {
    display: block;
}

.progress-container {
    width: 30px;
    height: 30px;
    position: relative;
}

.process-ring {
    fill: transparent;
    transition: 0.3s stroke-dashoffset, 0.3s fill;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.icon-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

base-icon {
    width: 15px;
    height: 15px;
}

.uncached .process-ring {
    stroke: var(--primary-color);
}
.uncached base-icon {
    fill: var(--primary-color);
}

.downloading {
    opacity: 0.5;
}
.downloading .process-ring {
    stroke: var(--background-color-lighter);
}
.downloading base-icon {
    fill: var(--background-color-lighter);
}

.cached .process-ring {
    stroke: #66bb6a;
    fill: #66bb6a;
}
.cached base-icon {
    fill: var(--background-color);
}
