:host {
    display: flex;
    align-items: center;

    padding: 12px 16px;
}

base-cover {
    width: 50px;
    height: 50px;
    padding-right: 12px;
}

.description {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.description > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.author {
    color: #c4c4c4;
}

base-icon {
    width: 12px;
    fill: #c4c4c4;

    padding-left: 12px;
}

base-icon.subscribed {
    fill: var(--success-color);
}
