:host {
    display: flex;
    align-items: stretch;

    padding: 10px var(--spacing-medium);
    border-top: 1px solid #e6eff7;
}

base-cover {
    width: 50px;
    height: 50px;

    padding-right: var(--spacing-medium);
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    flex: 1;

    /* 
        Make text-overflow work when resizing the parent flexbox.
        https://css-tricks.com/flexbox-truncated-text/
    */
    min-width: 0;

    padding-right: var(--spacing-medium);
}

.info-container > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.release-date,
.duration {
    opacity: 0.7;
    font-size: 0.7rem;
}

.release-date {
    text-transform: uppercase;
}

.title {
    font-size: 0.875rem;
    font-weight: 500;
}

.play-container {
    display: flex;
    align-items: center;
}

.play-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    border-radius: 25px;

    background-color: var(--primary-color);
    color: white;
}

.play-button base-icon {
    width: 15px;
    height: 15px;
}
