:host {
    display: flex;
    flex-direction: column;
    
    min-height: 100%;
    font-size: 0.9rem;
}

.back {
    display: block;
    fill: white;

    width: 30px;
    height: 30px;
}

rcast-spinner {
    display: block;
    width: 2rem;
    height: 2rem;
}

.podcast {
    display: flex;
    padding: 12px 16px;
    border-bottom: 1px solid #494949;
}

.podcast:active {
    background: #565961;
}

.podcast_cover {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding-right: 12px;
}

.podcast_description {
    /* Grows the container content to take all the remaining space. */
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.podcast_author {
    color: #C4C4C4;
}