:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: calc(100vw / 4);
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: calc(100vw / 6);
    }
}

.grid-item base-cover {
    display: block;
    width: 100%;
}
