<template>
    <base-header>
        <base-menu-button slot="left"></base-menu-button>
        Podcasts
    </base-header>

    <base-content class="with-header">
        <template if:true={loading}>
            <div class="center">
                <base-spinner></base-spinner>
            </div>
        </template>

        <template if:false={loading}>
            <template if:false={subscriptions.length}>
                <div class="no-podcast">
                    <div class="title">No podcasts yet?</div>
                    <div class="message">Use the Discover menu to find your favorite show.</div>
                </div>
            </template>

            <div class="scroll grid">
                <template for:each={podcasts} for:item="podcast">
                    <div key={podcast.show_id} class="grid-item" onclick={handlePodcastClick} data-podcast-id={podcast.show_id}>
                        <base-cover href={podcast.image_original_url} name={podcast.title}></base-cover>
                    </div>
                </template>
            </div>
        </template>
    </base-content>
</template>
