:host {
    width: 100%;
    height: var(--header-height);

    display: flex;
    align-items: center;

    background: var(--background-color);
    border-bottom: 1px solid #010101;
}

slot {
    display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}