:host {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #494949;
}

.progress-bar {
    height: 3px;
    background: #2e2e2e;
}

.progress-bar_value {
    height: 100%;
    background: #c4c4c4;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;
    background: #010101;
}

/* TODO: Move cover to it's own component to properly handle lazyload */
img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.info {
    padding: 0 10px;
    font-weight: lighter;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.info span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info .author {
    color: #c4c4c4;
}

.control-button {
    /* Push control to the right. */
    margin-left: auto;

    /* Setting width and height is not enough, min-width and min-height ensures the button is round. */
    min-width: 50px;
    min-height: 50px;
    border-radius: 25px;

    /* Display the icon in the middle of the button */
    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
}

.control-button:active {
    background: #c4c4c4;
}

rcast-icon {
    display: block;
    width: 30px;
    height: 30px;

    fill: #010101;
}
