:host {
    position: fixed;

    width: 100%;
    height: var(--header-height);

    box-sizing: border-box;

    z-index: 50;

    background: var(--header-background);
    color: var(--header-color);

    box-shadow:
        rgba(180, 180, 180, 0.2) 0px 3px 1px -2px, 
        rgba(180, 180, 180, 0.14) 0px 2px 2px 0px, 
        rgba(180, 180, 180, 0.12) 0px 1px 5px 0px;
}

.container {
    height: 100%;

    padding: 0 16px;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
}