<template>
    <base-header>
        <base-back-button slot="left"></base-back-button>
        Episode
    </base-header>

    <base-content class="with-header">
        <template if:true={loading}>
            <div class="center">
                <base-spinner></base-spinner>
            </div>
        </template>

        <template if:false={loading}>
            <div class="header spacing" onclick={handleHeaderClick}>
                <base-cover href={episode.image_url} name={episode.title} rounded-corners></base-cover>
                <div class="header-right">
                    <div class="show-name">{show.title}</div>
                    <div class="release-date">{releaseDate}</div>
                </div>
            </div>

            <div class="title spacing">{episode.title}</div>

            <div class="action-bar spacing">
                <component-play-button episode-id={episodeId}></component-play-button>
                <component-download-button episode-id={episodeId}></component-download-button>
                <button onclick={handleShare}>Share</button>
            </div>

            <div class="description spacing">{episode.description}</div>
        </template>
    </base-content>
</template>
