{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module"
    },

    "plugins": ["@lwc/eslint-plugin-lwc"],

    "env": {
        "es6": true,
        "browser": true
    },

    "globals": {
        "process": true
    },

    "rules": {
        "@lwc/lwc/no-deprecated": "error",
        "@lwc/lwc/valid-api": "error",
        "@lwc/lwc/valid-track": "error",
        "@lwc/lwc/valid-wire": "error"
    }
}