<template>
    <div class="container">
        <div class="title">
            <template if:true={isOfflineError}>
                Content not available offline
            </template>

            <template if:false={isOfflineError}>
                ¯\_(ツ)_/¯ Something wrong happened
            </template>
        </div>

        <div class="subtitle">
            <template if:true={isOfflineError}>
                Please connect to a network and retry to load the content.
            </template>

            <template if:false={isOfflineError}>
                <pre>
                    <code>
                        {error.message}
                        {error.stack}
                    </code>
                </pre>
            </template>
        </div>

        <a class="retry" onclick={handleRetry}>Retry</a>
    </div>
</template>
